body {
  padding-top: 66px; }

.container {
  padding: 0; }

.main {
  padding: 0;
  width: 100%;
  margin: auto; }

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: all .3s ease-out; }

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -60px);
  -webkit-transition: all .3s ease-out; }

.navbar {
  width: 100%;
  border-bottom: 2px solid rgba(112, 0, 206, 0.1); }
  .navbar #main h1 {
    display: inline-block;
    font-size: 2.2em;
    font-family: asli;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.9);
    margin: auto 40px; }
  .navbar .navbar-toggler {
    font-size: 1.9em;
    outline: none; }

.back-axs {
  width: 100%; }

.parallaxParent {
  height: 50vh;
  overflow: hidden; }

.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%; }

@media (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row-reverse; } }

.nav-link {
  font-size: 1.3em;
  font-family: asli;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.9); }

.sidenav a {
  display: none; }

.axs1 {
  background: url("../img/1.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 300px; }
  .axs1 a {
    margin: auto; }

.axs2 {
  background: url("../img/2.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 300px; }
  .axs2 a {
    margin: auto; }

.axs3 {
  background: url("../img/3.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 300px; }
  .axs3 a {
    margin: auto; }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  text-align: center; }
  .contact .top-nav {
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid #BFBFBF; }
    .contact .top-nav a {
      font-size: 1em;
      font-family: asli;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.9); }
  .contact .contact-info {
    font-family: asli;
    padding: 30px 0;
    border-bottom: 2px solid #BFBFBF; }
    .contact .contact-info h4 a {
      font-size: 0.9em;
      font-family: -apple-;
      font-weight: bold; }
    .contact .contact-info span {
      font-size: 1em;
      font-family: asli;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.9); }

.jabeja {
  background-image: url("../img/pars-jadval.jpg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: 414px 550px; }
  @media (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .jabeja {
      background-image: url("../img/pars-jadval.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; } }

footer h1 {
  padding: 10px 10px;
  font-size: 1em;
  font-family: asli;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.9); }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: #e1e1e1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  font-size: 2em;
  font-family: asli;
  font-weight: 200;
  color: rgba(34, 34, 34, 0.9); }

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: -20px;
  left: 3px;
  font-size: 4em;
  margin-right: 50px; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

@font-face {
  font-family: asli;
  src: url(../fonts/AAmine.ttf); }

@font-face {
  font-family: dovom;
  src: url(../fonts/zarghan.ttf); }

a {
  text-decoration: none;
  color: rgba(34, 34, 34, 0.4); }

.image-head {
  font-family: asli;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  margin: auto;
  z-index: 2; }

.arrow {
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=application.css.map */