.axs1 {
    background: url("../img/1.jpg") no-repeat center;
    background-size: cover;
    @include flex-display(flex,
    row,
    space-between,
    100%,
    center);
    height: 300px;
    a {
        margin: auto;
    }
}

.axs2 {
    background: url("../img/2.jpg") no-repeat center;
    background-size: cover;
    @include flex-display(flex,
    row,
    space-between,
    100%,
    center);
    height: 300px;
    a {
        margin: auto;
    }
}

.axs3 {
    background: url("../img/3.jpg") no-repeat center;
    background-size: cover;
    @include flex-display(flex,
    row,
    space-between,
    100%,
    center);
    height: 300px;
    a {
        margin: auto;
    }
}

.contact {
    @include flex-display(flex,
    column,
    space-between,
    90%,
    center);
    text-align: center;
    .top-nav {
        width: 100%;
        padding: 20px 0;
        border-bottom: 2px solid #BFBFBF;
        a {
            @include font-fam-size( 1em,
            asli,
            bold,
            $text-black-m);
        }
    }
    .contact-info {
        font-family: asli;
        padding: 30px 0;
        border-bottom: 2px solid #BFBFBF;
        h4 a {
            @include font-fam-size( 0.9em,
            -apple-,
            bold);
        }
        span {
            @include font-fam-size( 1em,
            asli,
            bold,
            $text-black-m);
        }
    }
}

.jabeja {
    @include background('../img/pars-jadval.jpg',
    40% 50%,
    no-repeat,
    400px 550px)
}
