


.nav{
  @include media(tablet){

    display: flex;
    flex-direction: row-reverse;

  }


}

.nav-link {
  @include font-fam-size( 1.3em, asli, bold, $text-black-m);
}
.sidenav{
    a{

      display:none;
    }

}



