


.nav{
  @include media(tablet){

    display: flex;
    flex-direction: row-reverse;

  }


}
.sideNav-title{
 width:100%;
  padding:10px;



}
.nav-link {
  @include font-fam-size( 1.3em, asli, bold, $text-black-m);



}







